
extends ../shared/template
block content
  #taskindex
    h1 Tasks
    table
      thead
        tr
          th Name
          th:!= linkBuilder.sort(query, 'due', 'Due')
          th Photo
          th:!= linkBuilder.sort(query, 'isComplete', 'Completed')
          th Tags
          th Priority
      tbody
        each task in tasks
          tr(style="background-color:#{task.priority.color}")
            td= task.name
            td #{moment(task.due).format('ll')} (#{moment(task.due).fromNow()})
            td: img(src='#{task.photo}', width='100px', height='100px')
            td
              form(method='post', action='/tasks/#{task._id}/update#{linkBuilder.queryString(query)}')
                input(type='checkbox' name='completed' value='true' checked=task.isComplete)
                button Update
            td:!= linkBuilder.tags(query, task.tags)
            td= task.priority.name
    #pages
      ul
        != linkBuilder.pager(query, count)
